@page "/customer/add"
<h3>Lägg till ny kund</h3>

<EditForm Model="@Request" OnValidSubmit="(async () => await TryPost())">
    <DataAnnotationsValidator />
    <div class="form-row">
        <div class="col">
            <label for="Type">Kundtyp:</label>
            <InputSelect @bind-Value="@Request.Type" class="form-control" id="Type">
                <option>-- Välj ett alternativ --</option>
                <option>Privat</option>
                <option>Företag</option>
            </InputSelect>
            <small id="TypeHelp" class="form-text text-muted">Typen kan vara företag eller privat.</small>
            <ValidationMessage For="@(() => Request.Type)" />
        </div>
        <div class="col">
            <label for="Email">E-mail:</label>
            <InputText @bind-Value="@Request.Email" class="form-control" id="Email" placeholder="E-mail" />
            <small id="EmailHelp" class="form-text text-muted">E-mail för kund eller företag.</small>
            <ValidationMessage For="@(() => Request.Email)" />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="FirstName">Förnamn:</label>
            <InputText @bind-Value="@Request.FirstName" class="form-control" id="FirstName" placeholder="Förnamn" />
            <small id="FirstNameHelp" class="form-text text-muted">För företagskunder ange företagsnamnet.</small>
            <ValidationMessage For="@(() => Request.FirstName)" />
        </div>
        <div class="col">
            <label for="LastName">Efternamn:</label>
            <InputText @bind-Value="@Request.LastName" class="form-control" id="LastName" placeholder="Efternamn" />
            <small id="LastNameHelp" class="form-text text-muted">Kundens efternamn.</small>
            <ValidationMessage For="@(() => Request.LastName)" />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="Address">Address:</label>
            <InputText @bind-Value="@Request.Address" class="form-control" id="Address" placeholder="Address" />
            <small id="AddressHelp" class="form-text text-muted">Addressen till kund eller företag.</small>
            <ValidationMessage For="@(() => Request.Address)" />
        </div>
        <div class="col">
            <label for="HourlyFee">Timpris:</label>
            <InputText @bind-Value="@Request.HourlyFee" class="form-control" id="HourlyFee" placeholder="Timpris" />
            <small id="HourlyFeeHelp" class="form-text text-muted">Anges inte för företag.</small>
            <ValidationMessage For="@(() => Request.HourlyFee)" />
        </div>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">Spara förändringar <i class="oi oi-check"></i></button>
    </div>
</EditForm>

@code {
        [Inject] ICustomerService CustomerService { get; set; }
        [Inject] IToastService ToastService { get; set; }
        [Inject] NavigationManager Nav { get; set; }
    private CustomerRequest Request;

    protected override void OnInitialized()
    {
        Request = new CustomerRequest();
    }

    private async Task TryPost()
    {
        if (!Request.TypeIsValid)
        {
            ToastService.ShowWarning("Du måste ange vilken typ av kund det rör sig om.", "Vänta lite!");
            return;
        }

        var result = await CustomerService.AddCustomerAsync(Request);
        if (result.Success)
            ToastService.ShowSuccess("Ny kund sparad!", "Sparad!");
        else
            ToastService.ShowError("Något verkar ha gått snett.", "Hoppsan!");
        Nav.NavigateTo("customer/all");
    }
}
