@page "/customer/all"

<h3>Kunder</h3>
<PageInfo Content="Både privata och företagskunder visas här. För att ta bort eller redigera en kund, klicka på redigera i slutet på namnet." />

@if (Customers != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Address</th>
                <th>E-Post</th>
                <th>Timpris</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td><address>@customer.Address</address></td>
                    <td>@customer.Email</td>
                    <td>@customer.HourlyFee</td>
                    <td><a class="btn btn-sm btn-primary" href="customer/edit/@customer.Id">Redigera <i class="oi oi-pencil ml-1"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Inject] ICustomerService CustomerService { get; set; }
    protected CustomerInfo[] Customers;

    protected async override Task OnInitializedAsync()
    {
        var response = await CustomerService.GetPrivateCustomersAsync();
        if (response.Success) Customers = response.Entity;
    }
}
