@page "/billing/private"

<div class="d-flex flex-row align-content-between">
    <h3 class="flex-grow-1">Underlag företag</h3>
    <form>
        <div class="form-group">
            <select class="form-control" id="datePicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </form>
</div>

<PageInfo Content="Fakturaunderlag för privata kunder. Ifall du har ändrat på kunduppgifter, eller tagit bort kunder så kan du uppdatera hela underlaget med knappen 'Läs om innehåll' längst ner. Sparad data kommer inte skadas av detta." />
<p class="h5">Notera att decimaltal måste anges i formatet <mark>5,5</mark>.</p>

@if (BillingBase is null)
{
    <span>Hittade inget underlag.</span>
}
else
{
    <EditForm Model="@BillingBase.Items" OnValidSubmit="@(() => TrySaveAsync())">
        <table class="table">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Veckor</th>
                    <th>Antal gånger</th>
                    <th>Timmar per gång</th>
                    <th>Totala timmar</th>
                    <th>Timpris</th>
                    <th>Ex. moms</th>
                    <th>Ink. moms</th>
                    <th>Efter rut</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in BillingBase.Items)
                {
                    <tr>
                        <td>@($"{item.FirstName} {item.LastName}")</td>
                        <td><InputText @bind-Value="@item.WeeksAttended" class="form-control" id="@($"WeeksAttended-{item.Id}")" placeholder="Veckor" /></td>
                        <td><InputText @bind-Value="@item.AmountOccassions" class="form-control" id="@($"AmountOccassions-{item.Id}")" placeholder="" /></td>
                        <td><InputText @bind-Value="@item.HoursPerVisit" class="form-control" id="@($"HoursPerVisit-{item.Id}")" placeholder="Timmar per gång" /></td>
                        <td><InputText @bind-Value="@item.TotalHours" @onblur="(() => UpdateValues(item))" class="form-control" id="@($"TotalHours-{item.Id}")" placeholder="" /></td>
                        <td>@item.PricePerHour</td>
                        <td>@item.ExVAT</td>
                        <td>@item.IncVAT</td>
                        <td>@item.AfterRUT</td>
                        <td><a role="button" href="" @onclick:preventDefault class="btn btn-sm btn-danger" @onclick="(() => RemoveCustomerAsync(item.Id))"><i class="oi oi-x"></i></a></td>
                    </tr>
                }
                <tr>
                    <td class="font-weight-bold">Totalt</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="font-weight-bold">@TotalExVAT</td>
                    <td class="font-weight-bold">@TotalIncVAT</td>
                    <td class="font-weight-bold">@TotalAfterRUT</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Spara förändringar <i class="oi oi-check"></i></button>
            <a role="button" href="" @onclick:preventDefault class="btn btn-primary" @onclick="(() => SyncBillingBaseAsync())">Hämta från register <i class="oi oi-action-redo"></i></a>
            <a role="button" href="" @onclick:preventDefault class="btn btn-success" @onclick="(() => TryDownloadExcelAsync())">Exportera Excel <i class="oi oi-data-transfer-download"></i></a>
        </div>
    </EditForm>
}

@code {
    [Inject] IPrivateBillingService BillingService { get; set; }
    [Inject] IToastService ToastService { get; set; }
    [Inject] NavigationManager Nav { get; set; }

    private PrivateBillingInfo BillingBase;
    private int Id;

    private double TotalExVAT;
    private double TotalIncVAT;
    private double TotalAfterRUT;

    protected async override Task OnInitializedAsync() => await LoadData();

    private async Task LoadData()
    {
        var result = await BillingService.GetCurrentBillingAsync();
        Id = result.Entity.Id;
        BillingBase = result.Entity;
        BillingBase.Items = BillingBase.Items.OrderBy(i => i.FirstName).ToList();
        UpdateTotal();
        StateHasChanged();
    }

    private void UpdateValues(PrivateBillingItemInfo item)
    {
        if (!double.TryParse(item.TotalHours, out double totalHours)) return;
        item.ExVAT = totalHours * item.PricePerHour;
        item.IncVAT = item.ExVAT * 1.25;
        item.AfterRUT = item.IncVAT / 2;
        UpdateTotal();
        StateHasChanged();
    }

    private void UpdateTotal()
    {
        var allItems = BillingBase.Items;

        var exVatList = allItems.Where(i => i.ExVAT > 0).Select(s => s.ExVAT).ToList();
        TotalExVAT = exVatList.Any() ? exVatList.Aggregate((x, y) => x + y) : 0.0;

        var incVatList = allItems.Where(i => i.IncVAT > 0).Select(s => s.IncVAT).ToList();
        TotalIncVAT = incVatList.Any() ? incVatList.Aggregate((x, y) => x + y) : 0.0;

        var afterRutList = allItems.Where(i => i.AfterRUT > 0).Select(s => s.AfterRUT).ToList();
        TotalAfterRUT = afterRutList.Any() ? afterRutList.Aggregate((x, y) => x + y) : 0.0;
    }

    private bool ParseSendData()
    {
        foreach (var item in BillingBase.Items)
        {
            if (!double.TryParse(item.TotalHours, out double _) && !string.IsNullOrWhiteSpace(item.TotalHours))
            {
                ToastService.ShowWarning("\"Totala timmar\" på ett eller flera fält är fel format, måste anges numeriskt", "Oj");
                return false;
            }
            if (!double.TryParse(item.AmountOccassions, out double _) && !string.IsNullOrWhiteSpace(item.AmountOccassions))
            {
                ToastService.ShowWarning("\"Antal gånger\" på ett eller flera fält är fel format, måste anges numeriskt", "Oj");
                return false;
            }
        }
        return true;
    }

    private async Task<bool> TrySaveAsync(bool showToast = true)
    {
        if (!ParseSendData()) return false;
        var result = await BillingService.UpdateBillingAsync(BillingBase);
        if (!result.Success)
        {
            if (showToast) ToastService.ShowWarning("Lyckades inte spara", "Ajdå");
            return false;
        }
        if (showToast) ToastService.ShowSuccess("Fakturaunderlaget sparades", "Perfekt");
        BillingBase = result.Entity;
        StateHasChanged();
        return true;
    }

    private async void SyncBillingBaseAsync()
    {
        var result = await BillingService.SyncBillingItemsAsync(Id);
        if (result.Success)
        {
            ToastService.ShowInfo("Fakturaunderlaget uppdaterades", "Info");
            BillingBase = result.Entity;
        }
        else
            ToastService.ShowWarning("Lyckades inte uppdatera", "Ajdå");
        StateHasChanged();
    }

    private async void TryDownloadExcelAsync()
    {
        if (!await TrySaveAsync(false))
        {
            ToastService.ShowWarning("Kunde inte spara dokumentet innan nedladdning", "Ajdå");
            return;
        }
        var result = await BillingService.GetExcelSheetAsync(Id);
        if (!result.Success)
        {
            ToastService.ShowError("Kunde inte exportera excelfil", "Något gick snett");
            return;
        }

        ToastService.ShowInfo(result.Entity.FileName, "Underlag redo");
    }

    private async void RemoveCustomerAsync(int id)
    {
        var result = await BillingService.RemoveItemAsync(Id, id);
        if (!result.Success)
        {
            ToastService.ShowInfo("Kunde inte ta bort kund", "Något gick snett");
            return;
        }
        ToastService.ShowSuccess("Kund borttagen från underlag", "Ändringar sparade");
        await LoadData();
    }
}
